body {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: Tahoma, sans-serif;
}

.weather {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #e3dafa;
  border-radius: 150px;
  padding: 60px;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 900px;
  height: 300px;
  border: black solid 1px;
}

.background {
  padding-top: 250px;
}

.sun {
  font-size: 20px;
  background: white;
  background-position: left;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  left: 0px;
}

#search,
#enter,
#current-location-button {
  border-radius: 20px;
  right: 20px;
}

#form-search {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 30px;
}

#search {
  width: 300px;
}

#right-icon-circle {
  position: absolute;
  background: white;
  border: 1px black solid;
  border-radius: 80px;
  width: 160px;
  height: 160px;
  top: 40px;
  right: 30px;
  text-align: center;
  padding: 5px;
}

#right-temp-circle {
  position: absolute;
  background: white;
  border: 1px black solid;
  border-radius: 80px;
  width: 100px;
  height: 100px;
  right: 20px;
  bottom: 60px;
}

#right-temp-text {
  position: relative;
  text-align: center;
  display: inline-block;
  top: 20px;
  font-size: 40px;
  font-weight: bold;
}

#far-or-deg {
  position: absolute;
  top: 60px;
  right: 27px;
}

.col-1 {
  margin: 2px;
  text-align: center;
  border: solid black 1px;
  background-color: white;
  border-radius: 50px;
  margin: 25px;
  width: 90px;
  height: 90px;
}

#cityChange {
  position: absolute;
  left: 75px;
  font-size: 40px;
  top: 75px;
  text-transform: uppercase;
  font-weight: bolder;
}

#day {
  position: absolute;
  top: 80px;
  left: 210px;
  font-size: 20px;
  opacity: 0.5;
  display: inline;
}

#time {
  position: absolute;
  left: 100px;
  top: 130px;
  opacity: 0.5;
  font-size: 20px;
}

#desc {
  position: absolute;
  left: 210px;
  font-size: 20px;
  top: 100px;
  opacity: 0.5;
}

#wind {
  position: absolute;
  left: 210px;
  top: 125px;
  opacity: 0.5;
  font-size: 20px;
}

#far-or-deg .active {
  color: black;
  cursor: default;
}

#far-or-deg .active:hover {
  text-decoration: none;
}

#icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 150px;
  width: 150px;
}

#forecast {
  position: absolute;
  box-sizing: none;
  bottom: 170px;
  left: 400px;
}

.weather-forecast-temps {
  font-size: 13px;
}

.weather-forecast-max {
  font-weight: bold;
}

.weather-forecast-min {
  opacity: 0.5;
}

#github-link {
  position: absolute;
  left: 600px;
  bottom: 120px;
}
